@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --clr-bg: #f5ebee;
  --clr-primary: #fffffe;
  --clr-secondary: #078080;
  --clr-tertiary:  #054949;
}
*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  background: var(--clr-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .header {
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .header .title {
  font-weight: 600;
  font-size: 3.5rem;
  color: var(--clr-tertiary);
}
.App .header p {
  
  font-weight: 200;
  font-size: .9rem;
}


